@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #dd2c45;
  font-family: 'Heebo', sans-serif;
}

.red-canids {
  font-size: 65vh;
  text-align: center;
}

.rufus {
  width: 50vh;
}

.matilha-uivante {
  text-align: center;
  font-size: 1.5em;
  margin-top: -55px;
}